
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<ul>
    <li>@Html.ActionLink("View Persons", "Index", "Person")</li>
    <li>@Html.ActionLink("View Countries", "Index", "Country")</li>
</ul>


